---
const { href, external, inverted } = Astro.props;
const sharedStyles = `
  border
  border-slate-700
  dark:border-slate-100
  hover:border-slate-800
  dark:hover:border-slate-200
  cursor-pointer
  font-semibold
  font-sans
  leading-5
  px-4
  py-2
  rounded-2xl
  text-center
  text-md
  text-center
  grid
  place-content-center
  transition-all`;
const regularStyles = `bg-slate-700
  hover:bg-slate-800
  text-white
  dark:bg-slate-100
  dark:hover:bg-slate-100
  dark:text-slate-800`;
const invertedStyles = `bg-white
  text-slate-700
  hover:text-slate-800
  dark:bg-slate-800
  dark:text-slate-200
  dark:hover:text-slate-100`;
const styles = inverted
  ? `${sharedStyles} ${invertedStyles}`
  : `${sharedStyles} ${regularStyles}`;
---

<a
  class={styles}
  href={href}
  rel={external ? 'noopener noreferrer' : undefined}
  target={external ? '_blank' : undefined}
>
  <slot />
</a>
