---
const {href, external, inverted} = Astro.props
const sharedStyles = "border border-indigo-600 cursor-pointer font-semibold font-sans leading-5 px-4 py-2 rounded-full text-center text-md text-center";
const regularStyles = "bg-indigo-600 text-white";
const invertedStyles = "bg-white text-indigo-600";
const styles = inverted ? `${sharedStyles} ${invertedStyles}` : `${sharedStyles} ${regularStyles}`;
---

<a
  class={styles}
  href={href}
  rel={external ? "noopener noreferrer" : undefined}
  target={external ? "_blank" : undefined}>
  <slot />
</a>